body{
    font-family: helvetica, arial, sans-serif;
}

.left{
    background-color: aquamarine;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 9;
    box-sizing: border-box;
    
}

.interface{
    text-align: center;
    padding: 20px;

}

a.button{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 60px;
    text-transform: uppercase;
    transition: color 300ms;
}

a:hover{
    background-color: red;
    color: white;
}

.right{
    background-image: url('../img/sky.jpg');
/*    background-color: aliceblue;*/
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

a{
    color: green;
}

.rocket{
    position: absolute;
    left: 50%;
    bottom: -125px;
    width: 120px;
    height: 450px;
    margin-left: -60px;
    background: url('../img/rocket-state1.png') no-repeat center center;
    transition: bottom 10000ms;
}

/*---------------------------*/
/*rocket bg image*/
body.body-state2 .rocket{
    background-image: url('../img/rocket-state2.png');
}

body.body-state3 .rocket,
body.body-state4 .rocket{
    background-image: url('../img/rocket-state3.png');
}

body.body-state5 .rocket{
    width: 1000px;
    height:1000px;
    margin-left: 0;
    left: 0%;
    background-image: url('../img/boom.png');
}

body.body-state1 .rocket{
    transition: none;
}

/*----------------------------*/

body.body-state2 .rocket{
/*    bottom: 80px;*/
}
body.body-state3 .rocket,
body.body-state4 .rocket{
    bottom: 1000px;
}
.ground{ 
    background-image: url('../img/ground.png');
/*    background-color: green;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 539px;
}

.nervous{
    position: absolute;
    top: 270px;
    left: 100px;
    background: url('../img/nervous.png') no-repeat 0 0;
    width: 400px;
    height: 400px;
    display: none;

}

.cant-wait{
    position: absolute;
    top: 270px;
    left: 450px;
    background: url('../img/cant-wait.png') no-repeat 0 0;
    width: 400px;
    height: 400px;
    display: none;
}

.nervous.show{
    display: block;
}

.cant-wait.show{
    display: block;
}

.state1,
.state2,
.state3,
.state4,
.state5{
   display: none; 
}
body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}